@import "documentation.css";


.mainwrapper
    {
    width: 75%;
    }

/**BEGIN************ T I T L E    P A G E **********BEGIN**/

div#titlepage
    {
    max-width:1120px;
    min-width: 450px;
    }
    
div#titlepage h1, div#titlepage h2, div#titlepage h3, div#titlepage h4, div#titlepage h5, div#titlepage h6 
    {
    text-align: center;
    font-style: normal;
    color: #002148;
    line-height: 1.0em;
    text-transform: uppercase;
    margin: 0;
     padding: 0;
    *margin-top: 1em;

    }

div#titlepage h1 {
    font-size: 2.0em; 
    font-weight: bold;
    line-height: 1.4em;
    padding-top: 0em;
    padding-bottom: 0.5em; 
    letter-spacing: .1em;
    }



div#titlepage h2 {
    font-size: 1.75em; /* 1 */
    font-weight: bold;
    line-height: 1.5em;
    border: 0; 
    padding-top: 2em;
    letter-spacing: .10em;
    }




div#titlepage h3 {
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.2em;
    letter-spacing: .08em;
    margin-top: 0em;
    
    }

div#titlepage h4  {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.3em;
    letter-spacing: .06em;
        margin-right: 12%;
    margin-left: 12%;
    }

div#titlepage h5  {
 	font-size: 1.0em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: .08em;
    }

div#titlepage h6  {
 	font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 1.2em;
    margin-top: 0.3em; 
    }

/**END************ T I T L E    P A G E **********END**/





/**BEGIN************ C O P Y R I G H T   P A G E **********BEGIN**/
    
div#copyright
    {
    max-width:1120px;
    min-width: 450px;
    }    
    
div#copyright  h4, div#copyright h5, div#copyright table, div#copyright p, div#copyright img
    {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #002148;
    }
 
div#copyright h4
    {
 	font-size: 1.1em;
    font-variant: small-caps;
    line-height: 1.6em;
    letter-spacing: .08em;
    }


div#copyright h5 
    {
    font-size: 0.8em;
    margin-bottom: 5em;
    margin-top: 0.3em; 
    }

div#copyright img
    {
    width: 14em;
    position: relative;
    left: 50%;
    margin-left: -7em;
    }
    
       
div#copyright table
    {
    font-size: 0.8em;
    font-variant: small-caps;
    
    width:23em;
    position: relative;
    left: 50%;
    margin-left: -11.5em;
    margin-bottom: 2em; 
    line-height: 1.1em;
    }

div#copyright p
    {
    font-size: 0.8em;
    line-height: 1,2;
    }

/**END************ C O P Y R I G H T   P A G E **********END**/





/**BEGIN********* M A I N   F R O N T   C O N T E N T *******BEGIN**/
/*
div#contentfront
{
    margin-top: 10px;
    margin-left: 18%;
    *padding-left: 20px;
    margin-right: 15%;
    padding-right: 40px;
    padding-bottom: 10px;
    max-width: 700px;
    min-width: 440px;
} 
*/


 
.contenttext h2
    {
    padding-top: 3.5em;
    }

.contenttext h3
 {
 text-indent: 0;
 }    

.contenttext ol 
    {

    }
    
.contenttext ol li
    {
    display: list-item;
    list-style-type: decimal;
    line-height: 1.3em;
    *margin-left: 0em;
    }        


.contenttext ol li ol
    {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    text-indent: -1.2em;
    }
    
.contenttext ol li ol li
    {
    list-style: none;
    line-height: 1.1em;
    }

.contenttext ol h3 
    {
    margin-bottom: .7em;
    margin-left: -2.0em;
    }

.contenttext ul 
    {
    margin-top: 1.9em;
    margin-bottom: -0.2em;
    margin-left: -1.25em;
    line-height: 1.7em;
    }

.contenttext ul li 
    {
    list-style: none;
    text-indent: 0;
    }
    
.toc ol li, .toc ol li ol, .toc ol li ol li, .toc ol h3, .toc ul, .toc ul li 
    {
    font-size: medium;	    
    }

@media print { 
hr
    {
	display: none;
    }
    
div#titlepage
    {

    }

div#copyright
    {
	page-break-before: always;
	page-break-after: always;
    }
    
.notes
    {
	display: none;
    }
	
.toc ol li, .toc ol li ol, .toc ol li ol li, .toc ol h3, .toc ul, .toc ul li 
    {
    font-size: 13px;	    
    }

.toc
    { 
    page-break-before: always;
    }
    	
}

/**END************ M A I N   C O N T E N T **********END**/


